{% extends 'chatbot/base.html' %}
{% load static %}

{% block styles %}
<style>
    #map {
        height: 100%;
    }

    body,
    html {
        height: 100%;
        margin: 0;
        padding: 0;
    }


    .messages-box {
        flex: 1;
        overflow-y: auto;
    }

    .messages-list {
        padding-left: 0;
    }

    .message {
        margin-bottom: 15px;
        list-style: none;
    }

    .message-text {
        padding: 10px;
        border-radius: 5px;
    }

    .sent {
        background-color: #dcf8c6;
        align-self: flex-end;
    }

    .received {
        background-color: #f1f0f0;
        align-self: flex-start;
    }

    .message-form {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color: #f8f9fa;
    }

    .message-input {
        flex: 1;
        border-radius: 0;
        border-right: none;
    }

    .btn-send {
        border-radius: 0;
    }

    .chat-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    h5 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .mt-map-container {
        width: 71.4%;
        padding-bottom: 41.6%;
        height: 0;
        overflow: hidden;
        position: relative;
    }

    .mt-map {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}


{% block content %}
<button id="modaltrigger" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    hidden></button>
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
            </div>
            <div class="modal-body">
                <ul class="dropdown-menu" style="display: contents;cursor: pointer;">
                    <li><a class="dropdown-item" onclick="get_data(this.innerHTML)"
                            data-bs-dismiss="modal">Restauraunts</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="chat-container">
    <div class="accordion" id="accordion"></div>
    <!-- prettier-ignore-attribute (mouseup) -->
    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "AIzaSyAfifTF_zpVlK3Inew2S2s4CcxHgmnE4Lk", v: "weekly" });</script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let map;

        async function get_data(query) {
            let csrftoken = getCookie('csrftoken');
            response = await fetch("{% url 'loc_services' %}", {
                method: "POST",
                body: JSON.stringify({ query }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                    "X-CSRFToken": csrftoken
                }
            }
            )
            data = await response.json()

            for (let i = 0; i < data.results.length; i++) {
                const place = data.results[i];
                accordion = document.querySelector("#accordion")

                let acc_item = document.createElement('div')
                acc_item.classList.add('accordion-item')

                let header = document.createElement('h2')
                header.classList.add("accordion-header")
                header.setAttribute('id', 'heading' + i.toString())

                let button = document.createElement('button')
                button.classList.add('accordion-button', 'collapsed')
                button.setAttribute('type', 'button')
                button.setAttribute('data-bs-toggle', 'collapse')
                button.setAttribute('data-bs-target', '#collapse' + i.toString())
                button.setAttribute('aria-expanded', 'false')
                button.setAttribute('aria-controls', 'collapse' + i.toString())
                button.innerHTML = place.name

                let collapse = document.createElement('div')
                collapse.classList.add('accordion-collapse', 'collapse')
                collapse.setAttribute('id', 'collapse' + i.toString())
                collapse.setAttribute('data-bs-parent', '#accordion')
                collapse.setAttribute('aria-labelledby', '#heading' + i.toString())

                let body = document.createElement('div')
                body.classList.add('accordion-body')
                body.setAttribute('style', 'height: 300px;width: 100%')

                let f = document.createElement('div')
                f.classList.add('mt-map-wrapper')

                let s = document.createElement('div')
                s.classList.add('mt-map', 'propmap')

                let map_holder = document.createElement('div')
                map_holder.setAttribute('id', 'map_canvas' + i.toString())

                button.addEventListener('click', (async () => {
                    const name = place.name
                    const position = place.geometry.location;
                    const { Map } = await google.maps.importLibrary("maps");
                    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
                    map_convas = document.getElementById('map_canvas' + i.toString())
                    map = new Map(map_convas, {
                        zoom: 15,
                        center: position,
                        mapId: "map" + i.toString(),
                    });
                    const marker = new AdvancedMarkerElement({
                        map: map,
                        position: position,
                        title: name,
                    });
                    acc_item.remove()
                    accordion = document.querySelector('#accordion')
                    accordion.insertBefore(acc_item, accordion.firstChild)
                    setTimeout(() => { document.getElementById('map_canvas' + i.toString()).style.height = '354px' }, 2000)
                }))

                s.appendChild(map_holder)
                f.appendChild(s)

                body.appendChild(f)
                header.appendChild(button)
                collapse.appendChild(body)
                acc_item.appendChild(header)
                acc_item.appendChild(collapse)
                accordion.appendChild(acc_item)

            }
        }

        document.addEventListener("DOMContentLoaded", (event) => {
            titles = { 'English': 'What are you looking for?' }
            document.querySelector('#modalTitle').innerHTML = titles['{{ selected_lang }}']
            document.querySelector('#modaltrigger').click()
        })
    </script>
    {% endblock %}